---
export const prerender = false;
import Base from '../../layouts/Base.astro';
import { SignIn } from '@clerk/astro/components';
---
<Base title="Sign In">
  <div class="flex justify-center pt-12">
    <SignIn appearance={{ baseTheme: undefined, variables: { colorBackground: '#18181b', colorText: '#fafafa', colorPrimary: '#3b82f6', colorInputBackground: '#09090b', colorInputText: '#fafafa' } }} />
  </div>
</Base>
