---
export const prerender = false;
import Base from '../../layouts/Base.astro';
import { SignIn } from '@clerk/astro/components';
---
<Base title="Sign In">
  <div class="flex justify-center pt-12">
    <SignIn />
  </div>
</Base>
